@model eAttendance.Models.LeaveTypeSetUp
@{
    Layout = "~/Views/Shared/_Blank.cshtml";
}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">मेटाउन  बिदा प्रकार</h4>
            <small class="font-bold"></small>
        </div>
        @using (Html.BeginForm("Delete", "SetupLeaveType", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <div class="modal-body">
                @Html.HiddenFor(m => m.LeaveTypeId)
                @Html.HiddenFor(m => m.LeaveTypeName)
                @Html.HiddenFor(m=> m.OfficeId)
                @Html.HiddenFor(m=> m.ServiceId)
                @Html.HiddenFor(m => m.Alias)
                @Html.HiddenFor(m => m.Description)
                @Html.HiddenFor(m => m.ApplicableFor)
                @Html.HiddenFor(m => m.WeeklyOffInclude)
                @Html.HiddenFor(m => m.HolidayInclude)
                @Html.HiddenFor(m=> m.BreakDown)
                @Html.HiddenFor(m=> m.MaximumLimit)
                @Html.HiddenFor(m=> m.DisplayOrder)
                @Html.HiddenFor(m=> m.DefaultValue)
                @Html.HiddenFor(m=> m.AllowLeaveLimitExceed)
                @Html.HiddenFor(m => m.IsDefault)
                @Html.HiddenFor(m=> m.IsTransferable)
                @Html.HiddenFor(m=> m.CreatedBy)
                @Html.HiddenFor(m=> m.CreatedDate)
                <p><i class="fa fa-question-circle"></i>तपाईं मेटाउन निश्चित हुनुहुन्छ?</p>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary btn-sm">हो </button>
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">होइन</button>
            </div>
        }
    </div>
</div>


