
@model eAttendance.Models.Shift
@{
    Layout = "~/Views/Shared/_Blank.cshtml";
}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">मेटाउन शिफ्ट </h4>
            <small class="font-bold"></small>
        </div>
        @using (Html.BeginForm("Delete", "SetupShift", FormMethod.Post, new { @class = "form-horizontal" }))
        {
              @Html.AntiForgeryToken()
            <div class="modal-body">
                @Html.HiddenFor(m => m.ShiftId)
                @Html.HiddenFor(m => m.ShiftName)
                @Html.HiddenFor(m=>m.DisplayOrder)
                @Html.HiddenFor(m => m.Status)
                <p><i class="fa fa-question-circle"></i>तपाईं मेटाउन निश्चित हुनुहुन्छ?</p>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary btn-sm">हो </button>
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">होइन</button>
            </div>
        }
    </div>
</div>



