@model eAttendance.Models.TransferModel
@{
    Layout = "~/Views/Shared/_Blank.cshtml";
    //ViewBag.Title = "External ReTransfer";
}
<style>
    label.error {
        float: right;
        font-size: 10.5px;
    }
</style>
<div class="modal-dialog modal-md">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title"><i class="fa fa-plus-circle"></i> आन्तरिक स्थानान्तरण </h4>
            <small class="font-bold"></small>
        </div><!---->
        @using (Html.BeginForm("AddIncomingEmployeeTransfer", "EmployeeInfo", FormMethod.Post, new { @id = "frmAddIncomingEmployeeTransferInfo" }))
        {
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        @Html.HiddenFor(m => m.EmployeeId)
                        <div class="form-group">
                            <label>@eAttendance.Service.MenuService.Enrollment *</label>
                            @Html.TextBoxFor(m => m.EmployeeNo, new { @placeholder = "Employee Number", @class = "form-control", disabled = "true" })
                        </div>
                        <div class="form-group">
                            <label class="control-label">@Html.DisplayNameFor(m => m.NTransferDateTime)</label>
                            @Html.TextBoxFor(m => m.NTransferDateTime, "{0:yyyy/MM/dd }", new { @class = "form-control inputmask nepali-calendar", data_mask = "9999-99-99" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>@eAttendance.Service.MenuService.EmployeeNameNep *</label>
                            @Html.TextBoxFor(m => m.EmployeeNameNp, new { @placeholder = "Employee Name ", @class = "form-control", disabled = "true" })
                        </div>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>@Html.DisplayNameFor(m => m.FromOfficeId)</label>
                            @Html.DropDownListFor(m => m.FromOfficeId, eAttendance.Utility.GetOfficeIdNameWithSelect(User), new { @class = "form-control chosen-select ddlInternal" })
                        </div>

                        <div class="form-group">
                            <label>@Html.DisplayNameFor(m => m.FromBranchId)</label>
                            @Html.DropDownListFor(m => m.FromBranchId, eAttendance.Utility.GetBranchIdName(@User), new { @class = "form-control chosen-select ddlInternal" })
                        </div>
                        <div class="form-group">
                            <label>@Html.DisplayNameFor(m => m.FromServiceId)</label>
                            @Html.DropDownListFor(m => m.FromServiceId, eAttendance.Utility.GetServiceIdName(), new { @class = "form-control chosen-select ddlInternal" })
                        </div>
                        <div class="form-group">
                            <label>@Html.DisplayNameFor(m => m.FromLevelId)</label>
                            @Html.DropDownListFor(m => m.FromLevelId, eAttendance.Utility.GetLevelIdName(), new { @class = "form-control chosen-select ddlInternal" })
                        </div>
                        <div class="form-group">
                            <label>@Html.DisplayNameFor(m => m.FromDesignationId)</label>
                            @Html.DropDownListFor(m => m.FromDesignationId, eAttendance.Utility.GetDesignationIdName(User), new { @class = "form-control chosen-select ddlInternal" })
                        </div>
                    </div>
                    <div class="col-md-6">
                            <div class="form-group">
                                <label>@Html.DisplayNameFor(m => m.ToOfficeId)</label>
                                @Html.DropDownListFor(m => m.ToOfficeId, eAttendance.Utility.GetOfficeIdNameWithSelect(@User), new { @class = "chosen-select form-control" })
                            </div>
                            <div class="form-group">
                                <label>@Html.DisplayNameFor(m => m.ToBranchId)</label>
                                @Html.DropDownListFor(m => m.ToBranchId, eAttendance.Utility.GetBranchIdName(User), new { @class = "form-control chosen-select" })
                            </div>
                            <div class="form-group">
                                <label>@Html.DisplayNameFor(m => m.ToServiceId)</label>
                                @Html.DropDownListFor(m => m.ToServiceId, eAttendance.Utility.GetServiceIdName(), new { @class = "form-control chosen-select" })
                            </div>
                            <div class="form-group">
                                <label>@Html.DisplayNameFor(m => m.ToLevelId)</label>
                                @Html.DropDownListFor(m => m.ToLevelId, eAttendance.Utility.GetLevelIdName(), new { @class = "form-control chosen-select" })
                            </div>
                            <div class="form-group">
                                <label>@Html.DisplayNameFor(m => m.ToDesignationId)</label>
                                @Html.DropDownListFor(m => m.ToDesignationId, eAttendance.Utility.GetDesignationIdName(User
                                ), new { @class = "form-control chosen-select" })
                            </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>@Html.DisplayNameFor(m => m.Remarks)</label>
                            @Html.TextAreaFor(m => m.Remarks, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary btn-sm">बचत गर्नु</button>
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">बन्द गर्नु</button>
            </div>
        }
    </div>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {
            $(".chosen-select").chosen({ width: '100%' });
            $('.nepali-calendar').nepaliDatePicker();
            $.validator.setDefaults({ ignore: ":hidden:not(select)" });

            $("#frmAddIncomingEmployeeTransferInfo").validate({
                rules: {
                    TransferType: {
                        min: 1
                    },
                    NTransferDateTime: {
                        required: true
                    },
                    FromOfficeId: {
                        min: 1
                    },
                    ToOfficeId: {
                        min:1
                    }
                },
                messages: {
                    TransferType: {
                        min: 'कृपया विकल्प चयन गर्नुहोस्'
                    },
                    NTransferDateTime: {
                        required: 'कृपया आवश्यक जानकारी भर्नुहोस्'
                    },
                    FromOfficeId: {
                        min: 'कृपया विकल्प चयन गर्नुहोस्'
                    },
                    ToOfficeId: {
                        min: 'कृपया विकल्प चयन गर्नुहोस्'
                    }
                }
            });

        });
        $(document).on('change', '#FromLevelId', function () {
            var levelId = $(this).val();
            $.getJSON("@Url.Action("GetDesignationByLevelId", "Utility")", { LevelId: levelId, withAll: false, withSelect: true },
             function (data) {
                 $("#FromDesignationId").empty();
                 var $prevGroup, prevGroupName;
                 $.each(data, function () {
                     if (this.Group == null) { $("<option />").val(this.Value).text(this.Text).appendTo('#FromDesignationId'); }
                     else {
                         if (prevGroupName != this.Group.Name) { $prevGroup = $('<optgroup />').prop('label', this.Group.Name).appendTo('#FromDesignationId'); }
                         $("<option />").val(this.Value).text(this.Text).appendTo($prevGroup);
                         prevGroupName = this.Group.Name;
                     }
                 });
                 $("#FromDesignationId").trigger('chosen:updated');
             });
        });

        $(document).on('change', '#ToLevelId', function () {
            var levelId = $(this).val();
            $.getJSON("@Url.Action("GetDesignationByLevelId", "Utility")", { LevelId: levelId, withAll: false, withSelect: true },
             function (data) {
                 $("#ToDesignationId").empty();
                 var $prevGroup, prevGroupName;
                 $.each(data, function () {
                     if (this.Group == null) { $("<option />").val(this.Value).text(this.Text).appendTo('#ToDesignationId'); }
                     else {
                         if (prevGroupName != this.Group.Name) { $prevGroup = $('<optgroup />').prop('label', this.Group.Name).appendTo('#ToDesignationId'); }
                         $("<option />").val(this.Value).text(this.Text).appendTo($prevGroup);
                         prevGroupName = this.Group.Name;
                     }
                 });
                 $("#ToDesignationId").trigger('chosen:updated');
             });
        });
    </script>
}




