@model eAttendance.Models.TaskSchedule
@{
    Layout = "~/Views/Shared/_Blank.cshtml";
}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title"> Schedule</h4>
            <small class="font-bold"></small>
        </div>
        @using (Html.BeginForm("Add", "TaskSchedule", FormMethod.Post, new { @id = "frmAddTaskSchedule", @class = "form-horizontal" }))
        {
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-3 control-label">@Html.DisplayNameFor(m => m.EmployeeId)</label>
                    <div class="col-sm-9">
                        @*@Html.DropDownListFor(m => m.EmployeeId, eAttendance.Utility.GetEmployeeInfoName(), new { @class = "chosen-select form-control" })*@
                        @Html.DropDownListFor(m => m.EmployeeId, eAttendance.Utility.GetEmployeeInfoName(), new { @class = "chosen-select form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">@Html.DisplayNameFor(m => m.Task)</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.Task, new { @class = "form-control " })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">@Html.DisplayNameFor(m => m.NDate)</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.NDate, "{0:yyyy/MM/dd }", new { @class = "form-control nepali-calendar", data_mask = "9999-99-99" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">@Html.DisplayNameFor(m => m.FromTime)</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.FromTime, new { @class = "form-control inputmask" })@*, @mask = "99:99" })*@
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">@Html.DisplayNameFor(m => m.ToTime)</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.ToTime, new { @class = "form-control inputmask" })@*, @mask = "99:99" })*@
                    </div>
                </div>
         
               
               
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary btn-sm">बचत गर्नु</button>
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">बन्द गर्नु</button>
            </div>
        }
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/plugins/jasny/jasny-bootstrap.min.js"></script>
    <script>
    $(document).ready(function () {
        $(".chosen-select").chosen({ width: '100%' });
        $('.nepali-calendar').nepaliDatePicker();
        $.validator.setDefaults({ ignore: ":hidden:not(select)" });
        $("#frmAddTaskSchedule").validate({
            rules: {
                @*EmployeeName: {
                        required: true,
                        minlength: 3,
                        remote: {
                            url: "@Url.Action("CheckDuplicate", "TaskSchedule")",
                            type: "POST",
                            data: {
                                EmployeeName: function () {
                                    return $("#EmployeeName").val();
                                }
                            }
                        }
                    },*@
                EmployeeId: {
                    min: 1
                },
                NForgotDate: {
                    required: true,
                },
                NForgotTime: {
                    required: true,
                },
                RequestedBy: {
                    min: 1
                },
                ApprovedBy: {
                    min: 1
                },
            },
            messages: {
                EmployeeName: {
                    remote: "Duplicate employee name found. Please use another name."
                },
                EmployeeId: {
                    min: 'कृपया विकल्प चयन गर्नुहोस्'
                },
                RequestedBy: {
                    min: 'कृपया विकल्प चयन गर्नुहोस्'
                },
                ApprovedBy: {
                    min: 'कृपया विकल्प चयन गर्नुहोस्'
                },
                }
            });
        });
        $('.inputmask').inputmask({
            mask: '99:99'
        })
    </script>
}
