@model eAttendance.Models.VisitTypeSetUp
@{
    Layout = "~/Views/Shared/_Blank.cshtml";
}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">मेटाउन निरिक्षण प्रकार</h4>
            <small class="font-bold"></small>
        </div>
        @using (Html.BeginForm("Delete", "SetupVisitType", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <div class="modal-body">
                @Html.HiddenFor(m => m.VisitTypeId)
                @Html.HiddenFor(m => m.VisitTypeName)
                @Html.HiddenFor(m => m.Alias)
                @Html.HiddenFor(m => m.Description)
            
                <p><i class="fa fa-question-circle"></i>तपाईं मेटाउन निश्चित हुनुहुन्छ?</p>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary btn-sm">हो </button>
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" onclick="window.location.href='@Url.Action("Index","SetupVisitType")'">Back</button>

            </div>
        }
    </div>
</div>



