@model eAttendance.Models.VisitTypeSetUp
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Setup Visit Type";
}
<div class="modal-content">
    <div class="modal-header">
        <ol class="breadcrumb">
            <li class="animated fadeInUp">काज</li>
            <li class="animated fadeInLeft"><a href="@Url.Action("Index","SetupVisitType")">काज प्रकार सेटअप</a></li>
            <li class="animated fadeInRight">काज प्रकारका सूचीहरु</li>

        </ol>
    </div>
</div>


<div class="row wrapper white-bg page-heading hidden-print">
    <div class="col-lg-10">
        <h2>काज प्रकार  </h2>

    </div>
    <div class="col-lg-2">
        <div class="title-action hidden-print">
            <button class="btn btn-primary btn-sm btn-add" onclick="window.location.href = '@Url.Action("Add","SetupVisitType")'">नयाँ बनाउनु </button>
        </div>
    </div>
</div>
<div class="wrapper wrapper-content padding-top-md">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="project-list">
                        <table id="tblSetupVisitType" class="table table-hover table-color ">
                            <thead>
                                <tr>
                                    <th>क्र सं</th>
                                    <th>@Html.DisplayNameFor(m => m.VisitTypeName)</th>
                                    <th>@Html.DisplayNameFor(m => m.Alias)</th>
                                    <th>@Html.DisplayNameFor(m => m.Description)</th>
                                    <th class="hidden-print text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{int count = 0;}
                                @foreach (var m in Model.VisitTypeSetUpList)
                                {
                                    count += 1;
                                    <tr>
                                        <td>@count</td>
                                        <td class="project-title">
                                            <a href="">@m.VisitTypeName</a>
                                        </td>
                                        <td>@m.Alias</td>
                                        <td>@m.Description</td>
                                        <td class="project-actions hidden-print col-md-2">
                                            <button type="button" class="btn-edit btn btn-primary btn-sm" onclick="window.location.href = '@Url.Action("Edit","SetupVisitType",new {id=@m.VisitTypeId })'"><i class="fa fa-pencil"></i> <span class="hidden-xs hidden-sm"></span> </button>
                                            <button class="btn-delete btn btn-sm btn-danger" onclick="window.location.href = '@Url.Action("Delete","SetupVisitType",new {id=@m.VisitTypeId })'"><i class="fa fa-remove"></i><span class="hidden-xs hidden-sm"></span> </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal inmodal fade" id="modelAdd" role="dialog">

</div>

<div class="modal inmodal fade" id="modelEdit" role="dialog">

</div>

<div class="modal inmodal fade" id="modelDelete" role="dialog">

</div>
@section Scripts
{

    <script type="text/javascript">
        $(document).ready(function () {
        



    })
    </script>
}


