@model eAttendance.Models.DistrictSetUp

<div class="col-lg-12">
    <div class="card">
        <div class="card-header bg-info">
            <h2 class="m-b-0 text-info">जिल्ला थप  </h2>
        </div>
        <div class="card-body">
            <fieldset>
                <legend></legend>
                <div class="row">


                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        @Html.DisplayNameFor(m => m.DistrictName)
                        @Html.TextBoxFor(m => m.DistrictName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.DistrictName)
                    </div>


                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        @Html.DisplayNameFor(m => m.DistrictCode)
                        @Html.TextBoxFor(m => m.DistrictCode, new { @class = "form-control" })
                    </div>


                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        @Html.DisplayNameFor(m => m.ZoneId)
                        @Html.DropDownListFor(m => m.ZoneId, eAttendance.Utility.GetZoneList(), new { @class = "chosen form-control", data_placeholder = "Select Zone" })

                    </div>



                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        @Html.DisplayNameFor(m => m.DisplayOrder)
                        @Html.TextBoxFor(m => m.DisplayOrder, new { @class = "form-control" })
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-sm">बचत गर्नु</button>
                    <button type="button" class="btn btn-danger btn-sm" onclick="location.href='@Url.Action("Index","SetupDistrict")'">Back</button>
                </div>

            </fieldset>
        </div>
    </div>
</div>
