@model eAttendance.Models.ResetPasswordViewModel
@{
    //ViewBag.Title = "";
    Layout = "~/Views/Shared/_Blank.cshtml";

}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">

            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">पासवर्ड रिसेट</h4>
            <small class="font-bold"></small>
        </div>


        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @id = "frmResetPassword", @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            <div class="modal-body">
                @Html.ValidationSummary("", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Code)
                <div class="alert-warning">@TempData["ResetPassowrodFail"]</div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-sm-3 control-label" })
                    <div class="col-md-7">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, "New Password", new { @class = "col-sm-3 control-label" })
                    <div class="col-md-7">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-sm-3 control-label" })
                    <div class="col-md-7">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary btn-sm">रिसेट गर्नु</button>
                @*<button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Back</button>*@
                @*<input type="submit" class="btn btn-primary" id=" btnSubmit" value="Reset" />*@
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">बन्द गर्नु</button>
            </div>


        }
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
    $(document).ready(function () {
        $("#frmResetPassword").validate({
            rules: {
                Email: {
                    required: true
                },
                Password: {
                    required: true
                },
                ConfirmPassword: {
                    required: true,
                    equalTo: Password
                }
            },
            messages: {
                Email: {
                    required: 'कृपया आवश्यक जानकारी भर्नुहोस्'
                },
                Password: {
                    required: 'कृपया आवश्यक जानकारी भर्नुहोस्'
                },
                ConfirmPassword: {
                    required: 'कृपया आवश्यक जानकारी भर्नुहोस्',
                    equalTo: 'पासवर्ड मेल खाँदैन',
                }
            }
        });
    });
    </script>
}
