@model eAttendance.Models.LevelSetUp
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="modal-content">
    <div class="modal-header">
        <ol class="breadcrumb">
            <li class="animated fadeInUp">सेटअप</li>
            <li class="animated fadeInLeft"><a href="@Url.Action("Index","SetupLevel")">श्रेणी सेटअप</a></li>
            <li class="animated fadeInRight">श्रेणी सच्याउनुहोस्</li>

        </ol>
    </div>
</div>
        @using (Html.BeginForm("Edit", "SetupLevel", FormMethod.Post, new { @id = "EditLevelForm", @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.LevelId)
            @Html.HiddenFor(m => m.CreatedBy)
            @Html.HiddenFor(m => m.CreatedDate)
            @Html.Partial("_Common")


        }
 