@model eAttendance.Models.FiscalYearSetUp
@{
    Layout = "~/Views/Shared/_Blank.cshtml";
}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">मेटाउन   वर्ष</h4>
            <small class="font-bold"></small>
        </div>
        @using (Html.BeginForm("Delete", "SetupFiscalYear", FormMethod.Post, new { @class = "form-horizontal" }))
        {
               @Html.AntiForgeryToken()
            <div class="modal-body">
                @Html.HiddenFor(m => m.FiscalYearId)
                @Html.HiddenFor(m => m.FiscalYearName)
                @Html.HiddenFor(m => m.FiscalYearCode)
                @Html.HiddenFor(m => m.FromDate)
                @Html.HiddenFor(m => m.ToDate)
                @Html.HiddenFor(m => m.Description)
                @Html.HiddenFor(m => m.DisplayOrder)
                @Html.HiddenFor(m => m.CreatedBy)
                @Html.HiddenFor(m => m.CreatedDate)
                <p><i class="fa fa-question-circle"></i>तपाईं मेटाउन निश्चित हुनुहुन्छ?</p>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary btn-sm">हो </button>
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">होइन</button>
            </div>
        }
    </div>
</div>


