@model eAttendance.Models.BranchSetUp
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="modal-content">
    <div class="modal-header">
        <ol class="breadcrumb">
            <li class="animated fadeInUp">सेटअप</li>
            <li class="animated fadeInLeft"><a href="@Url.Action("Index","SetupBranch")">शाखा सेटअप</a></li>
            <li class="animated fadeInRight">शाखा सच्याउनुहोस्</li>

        </ol>
    </div>
</div>

@using (Html.BeginForm("Edit", "SetupBranch", FormMethod.Post, new { @id = "frmEditBranch", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.BranchId)
    @Html.HiddenFor(m => m.CreatedBy)
    @Html.HiddenFor(m => m.CreatedDate)
    @Html.Partial("_Common");

}


