@using eAttendance.Models
@model eAttendance.ViewModel.MonthlyAttendanceModel
@{
    ApplicationDbContext db = new ApplicationDbContext();
    decimal TotalPresentdaysCount = 0;
    decimal TotalAbsentdaysCount = 0;

    decimal TotalVisitdaysCount = 0;
    decimal TotalLeavedaysCount = 0;
}
<div id=" datatables_table_0_wrapper">
    <table class="table table-bordered table-condensed" cellpadding="0" style="width:100%;">
        <thead>
            <tr class="no-borders bg-white">
                <td colspan="34" class="no-borders bg-white text-center">
                    <img src="@Url.Content("~/Images/Emblem_of_Nepal.png")" width="80" height="80" />
                    <h4>नेपाल सरकार</h4>


                    <h5>
                        @if (Model.OfficeId > 0)
                        {
                            @eAttendance.Utility.GetOfficeInfoByOfficeId(Model.OfficeId).OfficeName


                        }
                        else
                        {
                            <text>सबै</text>
                        }
                    </h5>

                    <h5>
                        @if (Model.OfficeId > 0)
                        {
                            @db.OfficeSetUp.Where(x => x.OfficeId == Model.OfficeId).FirstOrDefault().Address
                        }
                    </h5>




                    <h5>(वार्षिक रिपोर्ट)</h5>
                </td>
            </tr>
            <tr class='no-border-row bg-white'>
                <td colspan="34">
                    <table class="table no-borders no-margins">



                        <tr class="no-border-row">
                            <td class="no-borders">साल: @Html.Raw(Model.YearId)</td>

                            <td class="no-borders">कार्यालय: @Html.Raw((Model.OfficeId > 0) ? eAttendance.Utility.GetOfficeInfoByOfficeId(Model.OfficeId).OfficeName : "सबै")</td>
                            <td class="no-borders">सेवा: @Html.Raw((Model.ServiceId > 0) ? eAttendance.Utility.GetServiceByServiceId(Model.ServiceId).ServiceName : "सबै")</td>
                        </tr>


                        <tr class="no-border-row">
                            <td class="no-borders">शाखा: @Html.Raw((Model.BranchId > 0) ? eAttendance.Utility.GetBranchByMainBranchId(Model.BranchId).BranchName : "सबै")</td>
                            <td class="no-borders">तह: @Html.Raw((Model.LevelId > 0) ? eAttendance.Utility.GetLevelByLevelId(Model.LevelId).LevelName : "सबै")</td>
                            <td class="no-borders">पद: @Html.Raw((Model.DesignationId > 0) ? @eAttendance.Utility.GetDesignationByDesignationId(Model.DesignationId).DesignationName : "सबै")</td>
                            <td class="no-borders">कर्मचारी: @Html.Raw((Model.EmployeeId > 0) ? eAttendance.Utility.GetEmployeeInfoByEmnployeeId(Model.EmployeeId).EmployeeNameNp : "सबै")</td>
                            <td class="no-borders"></td>
                        </tr>




                    </table>
                </td>
                <br />
            </tr>
            <tr>
                <td colspan="12">
                    <table class="table table-bordered table-condensed table-striped">
                        <tr style="text-align:center">@eAttendance.Service.MenuService.Leave</tr>
                        <thead>
                            <tr>
                                <th>बिदा किसिम</th>
                                <th>गत वर्षको बाकी</th>
                                <th>तोकिएको</th>
                                <th>@eAttendance.Service.MenuService.Total</th>
                                <th>@eAttendance.Service.MenuService.Taken</th>
                                <th>@eAttendance.Service.MenuService.Remainings</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int leaveCount = 0;}
                            @foreach (var m in Model.EmployeeLeaveSummaryList)
                            {
                                leaveCount += 1;
                                <tr>
                                    <td>@m.LeaveTypeName</td>
                                    <td>@m.LastYear</td>
                                    <td>@m.ThisYear</td>
                                    <td>@m.Total</td>
                                    <td>@m.TakenLeaveYearly</td>
                                    <td>@m.RemainingLeave</td>
                                </tr>
                            }
                            @if (leaveCount == 0)
                            {
                                <tr>
                                    <td class="text-center alert-info" colspan="9">
                                        <strong> @eAttendance.Service.MenuService.NoRecordFound </strong>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <th rowspan="2" class="text-center padding:0px;">@eAttendance.Service.MenuService.SNo</th>
                <th rowspan="2" class="text-center col-md-2 padding:0px">कर्मचारी</th>
                <th width="100" style="width:100px;" class="padding:0px;">
                    @eAttendance.Service.MenuService.Month
                </th>
                @for (int i = 1; i <= 32; i++)
                {
                    <th class="text-center th-padding-xs"> @EnglishToNepaliNumber.ConvertToNepaliNumber(i)</th>
                }
                <th>
                    जम्मा उपस्थित दिन
                </th>
                <th>
                    जम्मा काज दिन
                </th>
                <th>
                    जम्मा बिदा लिएको दिन
                </th>
                <th>
                    जम्मा अनुपस्थित दिन
                </th>
            </tr>
        </thead>
        <tbody>
            @{int count = 0;}
            @foreach (var e in Model.FilteredEmployeeList)
            {
                decimal PresentdaysCount = 0;
                decimal AbsentdaysCount = 0;

                decimal VisitdaysCount = 0;
                decimal LeavedaysCount = 0;


                <tr>
                    <td class="text-center" rowspan="13">@EnglishToNepaliNumber.ConvertToNepaliNumber(count += 1)</td>
                    <td rowspan="13" class="padding:0px;">
                        @eAttendance.Utility.GetEmployeeInfoByEmnployeeId(Model.EmployeeId).EmployeeNameNp <br />
                        @db.DesignationSetUp.Where(x => x.DesignationId == e.DesignationId).FirstOrDefault().DesignationName
                    </td>
                </tr>

                foreach (var nm in eAttendance.Utility.NepaliMonthList())
                {
                    var daycount = 1;

                    <tr>
                        <td> @nm.Text </td>
                        @{

                            int year = Model.YearId;

                            DateTime[] datetime = NepaliDateConverter.GetMonth(year, int.Parse(nm.Value));
                            DateTime FromDate = datetime[0];
                            DateTime ToDate = datetime[1];
                            var attendanceList = ReportService.ReportService.GetEmployeeAttandaneByOfficeWithInDateRange(e.EmployeeId, e.OfficeId, FromDate, ToDate);
                        }

                        @foreach (var m in attendanceList.OrderBy(w => w.LogDate))
                        {

                            var css = "";
                            if (m.LogDate > DateTime.Now)
                            {
                                css = "#FFFFFF";
                            }
                            else if (m.StatusType == 4)
                            {
                                css = "#AA55FF";
                            }
                            else if (m.StatusType == 1)
                            {
                                css = "#d1dade";
                                //<label class="label label-plain">उ</label>
                            }
                            else
                            {
                                if (m.Holiday != null && m.Holiday.Length > 0)
                                {
                                    css = "#1c84c6";
                                }

                                else if (m.OnLeave != null && m.OnLeave.Length > 0)
                                {
                                    css = "#23c6c8";
                                }
                                else if (m.OnVisit != null && m.OnVisit.Length > 0)
                                {
                                    css = "#f8ac59";
                                }
                                else if (m.WorkType == 3)
                                {
                                    css = "#0e9aef";
                                }
                                else
                                {
                                    css = "#ed5565";
                                }

                            }
                            <td style="background:@css; padding:0px; width:100px;">
                                @if (m.LogDate > DateTime.Now)
                                {
                                    @Html.Raw("")
                                }
                                else if (m.StatusType == 4)
                                {
                                    @Html.Raw("सरु")
                                }
                                else if (m.StatusType == 1)
                                {
                                    PresentdaysCount += 1;
                                    @Html.Raw("<table><tr><td>आ:</td><td>" + ((m.CheckIn != null && m.CheckIn != TimeSpan.Zero) ? m.CheckIn.Value.ToString(@"hh\:mm") : "") + "</td></tr>" +
                                                                 "<tr><td>ग:</td><td>" + ((m.CheckOut != null && m.CheckOut != TimeSpan.Zero) ? m.CheckOut.Value.ToString(@"hh\:mm") : "") + "</td></tr>" +
                                                            "<tr><td>क.स:</td><td>" + ((m.CheckIn != null && m.CheckIn != TimeSpan.Zero && m.CheckOut != null && m.CheckOut != TimeSpan.Zero) ? (m.CheckOut - m.CheckIn).Value.ToString(@"hh\:mm") : "") + "</td></tr></table>"
                                                                  )
                                }
                                else
                                {
                                    string remarks = "";
                                    if (m.Holiday != null && m.Holiday.Length > 0)
                                    {
                                        string[] h = m.Holiday.Split(' ');
                                        remarks += m.Holiday + " "; //"स.बि"; //h[0].PadLeft(1) + (h.Length > 1 ? "." + h[1].PadLeft(1) : "");
                                    }

                                    if (m.OnLeave != null && m.OnLeave.Length > 0)
                                    {
                                        LeavedaysCount += 1;
                                        string[] l = m.OnLeave.Split(' ');
                                        remarks += m.OnLeave + " "; //"बि"; //l[0].PadLeft(1) + (l.Length > 1 ? "." + l[1].PadLeft(1) : "");
                                                                    //remarks += m.OnLeave;
                                    }
                                    if (m.OnVisit != null && m.OnVisit.Length > 0)
                                    {
                                        VisitdaysCount += 1;
                                        string[] v = m.OnVisit.Split(' ');
                                        remarks += m.OnVisit + " "; //"का"; //v[0].PadLeft(1) + (v.Length > 1 ? "." + v[1].PadLeft(1) : "");
                                                                    //remarks += m.OnVisit;
                                    }
                                    if (m.WorkType == 3)
                                    {
                                        remarks += "स ";
                                    }

                                    if (remarks.Length == 0)
                                    {
                                        remarks = "अ ";
                                        AbsentdaysCount += 1;
                                    }
                                    @Html.Raw(remarks);
                                }
                            </td>

                            daycount++;
                        }


                        @for (var i = daycount; i <= 32; i++)
                        {
                            <td></td>
                        }

                        <td>@PresentdaysCount</td>
                        <td>
                            @VisitdaysCount
                        </td>
                        <td>
                            @LeavedaysCount
                        </td>
                        <td>@AbsentdaysCount</td>
                    </tr>
                    TotalPresentdaysCount += PresentdaysCount;
                    TotalAbsentdaysCount += AbsentdaysCount;
                    TotalVisitdaysCount += VisitdaysCount;
                    TotalLeavedaysCount += LeavedaysCount;

                    PresentdaysCount = 0;
                    AbsentdaysCount = 0;
                    VisitdaysCount = 0;
                    LeavedaysCount = 0;
                }

            }
        <tr>
            <td>
            </td>

            <td colspan="34" style="text-align:right;">
                जम्मा
            </td>
            <td>
                @TotalPresentdaysCount
            </td>

            <td>
                @TotalVisitdaysCount
            </td>
            <td>
                @TotalLeavedaysCount
            </td>
            <td>
                @TotalAbsentdaysCount
            </td>
        </tr>
        </tbody>
    </table>
</div>

