@using eAttendance.Models
@model  eAttendance.ReportModel.EmployeeAttendanceList
@{
    eAttendance.Models.ApplicationDbContext db = new eAttendance.Models.ApplicationDbContext();
}
<div class="ibox-content p-xl no-padding">
    <div id="DataTables_Table_0_wrapper" class="dataTable form-inline no-margins table-responsive">
        @if (Model._nFromDate != null && Model._nToDate != null && Model.OfficeId != 0)
        {
            <div class="text-center article-title">
                <img src="@Url.Content("~/Images/Emblem_of_Nepal.png")" width="80" height="80" />
                <h4>नेपाल सरकार</h4>
                <h5>
                    @if (Model.OfficeId > 0)
                    {
                        @eAttendance.Utility.GetOfficeInfoByOfficeId(Model.OfficeId).OfficeName


                    }
                    else
                    {
                        <text>सबै</text>
                    }
                </h5>

                <h5>
                    @if (Model.OfficeId > 0)
                    {
                        @db.OfficeSetUp.Where(x => x.OfficeId == Model.OfficeId).FirstOrDefault().Address
                    }
                </h5>




                <h5>( @eAttendance.Service.MenuService.VisitReport )</h5>
            </div>

            <tr class='no-border-row bg-white'>
                <td colspan="9">
                    <table class="table no-borders no-margins">


                        <tr class="no-border-row">
                            <td class="no-borders">@eAttendance.Service.MenuService.FromDate :@Html.Raw(Request["_nFromDate"])</td>
                            <td class="no-borders">@eAttendance.Service.MenuService.ToDate : @Html.Raw(Request["_nToDate"])</td>
                            <td class="no-borders">कार्यालय: @Html.Raw((Model.OfficeId > 0) ? eAttendance.Utility.GetOfficeInfoByOfficeId(Model.OfficeId).OfficeName : "सबै")</td>
                            <td class="no-borders">शाखा: @Html.Raw((Model.BranchId > 0) ? eAttendance.Utility.GetBranchByMainBranchId(Model.BranchId).BranchName : "सबै")</td>
                        </tr>
                        <tr class="no-border-row">
                            <td class="no-borders">सेवा: @Html.Raw((Model.ServiceId > 0) ? eAttendance.Utility.GetServiceByServiceId(Model.ServiceId).ServiceName : "सबै")</td>
                            <td class="no-borders">तह: @Html.Raw((Model.LevelId > 0) ? eAttendance.Utility.GetLevelByLevelId(Model.LevelId).LevelName : "सबै")</td>
                            <td class="no-borders">पद: @Html.Raw((Model.DesignationId > 0) ? eAttendance.Utility.GetDesignationByDesignationId(Model.DesignationId).DesignationName : "सबै")</td>
                            <td class="no-borders">कर्मचारी: @Html.Raw((Model.EmployeeId > 0) ? eAttendance.Utility.GetEmployeeInfoByEmnployeeId(Model.EmployeeId).EmployeeNameNp : "सबै")</td>
                            <td class="no-borders"></td>
                        </tr>
                    </table>
                </td>
            </tr>

            <table id="dtVisit" class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th style="min-width:50px;" class="text-center">क्र सं</th>
                        <th style="min-width:60px;" class="text-center">पद</th>
                        <th style="min-width:150px;" class="text-center">@eAttendance.Service.MenuService.EmployeeName</th>
                        <th style="min-width:150px;" class="text-center">@eAttendance.Service.MenuService.VisitType</th>
                        <th style="min-width:150px;" class="text-center">@eAttendance.Service.MenuService.Total</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                    int count = 0;

                    string CodeName = string.Empty;
                    }
                    @foreach (var m in Model.EmployeeAttendanceLists)
                    {
                        string nFrmDate = Model._nFromDate;
                        string nToDate = Model._nToDate;
                        DateTime frmDate = NepaliDateConverter.ConvertToEnglish(NepaliDateConverter.Format(nFrmDate));
                        DateTime toDate = NepaliDateConverter.ConvertToEnglish(NepaliDateConverter.Format(nToDate));
                        var leave = ReportService.ReportService.GetEmployeeVisitSummaryByemployeeIdFromDateToDate(m.EmployeeId, frmDate, toDate);//GetEmployeeVisitSummaryByemployeeIdFromDateToDate(m.EmployeeId);
                        count += 1;
                        int rowspan = leave.Count + 1;

                        var employee =
                            db.EmployeeInfo.Where(x => x.EmployeeId == m.EmployeeId).FirstOrDefault();


                        CodeName = employee.EmployeeNameNp + "[" + employee.EmployeeNo + "]";
                        <tr>
                            <td rowspan="@rowspan" class="text-center">@EnglishToNepaliNumber.ConvertToNepaliNumber(count) </td>

                            <td rowspan="@rowspan">@Html.Raw(eAttendance.Utility.GetDesignationByDesignationId(m.DesignationId).DesignationName ?? "")</td>
                            <td rowspan="@rowspan">@CodeName</td>
                            @if (leave.Count == 0)
                            {
                                <td colspan="6" class="text-danger">कर्मचारीको काज भेटेन!</td>
                            }
                        </tr>

                        foreach (var l in leave)
                        {
                            <tr>
                                <td>@l.VisitTypeName</td>
                                <td class="text-center">@l.Total</td>
                            </tr>
                        }
                    }

                    @if (count == 0)
                    {
                        <tr>
                            <td class="text-center alert-info" colspan="9">@eAttendance.Service.MenuService.NoRecordFound</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

