@using eAttendance.Models
@model  eAttendance.ReportModel.EmployeeAttendanceList
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "MonthlyAttendanceReport";
    ApplicationDbContext dbdata = new ApplicationDbContext();
}
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/ExcelExport.js"></script>
<style>
    hr {
        margin-top: 0px;
        margin-bottom: 0px;
        border: 0;
        border-top: 1px solid #eee;
    }
</style>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8 col-md-8 col-sm-8">
        <h2>उपस्थित अनुपस्थित</h2>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index","home")">घर</a></li>
            <li>@eAttendance.Service.MenuService.Report</li>
            <li class="active"><strong>उपस्थित अनुपस्थित</strong></li>
        </ol>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="title-action">
          

            <a download="Monthly Report.xls" class="btn btn-success btn_excel fa fa-file-excel-o" href="#" onclick="return ExcellentExport.excel(this, 'divprint', 'Daily Report');">Excel मा लैजानुहोस् </a>

             <button type="button" id="btnPrint" class="btn btn-primary"><i class="fa fa-print"></i> Print </button>
        </div>
    </div>
</div>




<div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px;
                                       top: 0px; width: 100%; height: 100%; background-color: #666666; z-index: 30001;
                                       opacity: .8; filter: alpha(opacity=70); display: none">
    <p style="position: absolute; top: 30%; left: 45%; color: White; text-align: center;">
        <img src="~/Images/ajax-loading.gif" />
        <br />
        Loading Please Wait...........
    </p>
</div>

<script>

    function ShowLoader() {
        $("#divLoading").show();
    }
    function EndLoader() {
        $("#divLoading").hide();
    }
</script>
<div class="wrapper wrapper-content animated fadeInDown no-margins padding-top-md">
    <div class="ibox float-e-margins no-margins">
      
        <div class="ibox-content no-border-bottom">



            @using (Ajax.BeginForm("MonthlyAttendance", "Report", new AjaxOptions { HttpMethod = "Post", OnBegin = "ShowLoader", OnComplete = "EndLoader", UpdateTargetId = "divprint" }))
            {
                <fieldset>
                    <legend>Search Criteria</legend>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">@eAttendance.Service.MenuService.FiscalYear</label>
                                @Html.DropDownListFor(m => m.YearId, Utility.NepaliYearList(), new { @class = "form-control chosen-select" })
                            </div>
                        </div>


                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">@eAttendance.Service.MenuService.Month</label>
                                @Html.DropDownListFor(m => m.MonthId, Utility.NepaliMonthList(), new { @class = "form-control chosen-select" })
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">कार्यालय</label>
                                @Html.DropDownListFor(m => m.OfficeId, Utility.GetOfficeIdNameWithSelect(User), new { @class = "chosen-select form-control" })
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">शाखा</label>

                                @Html.DropDownListFor(m => m.BranchId, Utility.GetBranchIdName(@User), new { @class = "chosen-select form-control" })
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label ">सेवा</label>
                                @Html.DropDownListFor(m => m.ServiceId, Utility.GetServiceIdName(), new { @class = "chosen-select form-control" })
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">तह</label>
                                @Html.DropDownListFor(m => m.LevelId, Utility.GetLevelIdName(), new { @class = "chosen-select form-control" })
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">पद</label>
                                @Html.DropDownListFor(m => m.DesignationId, Enumerable.Empty<SelectListItem>(), new { @class = "chosen-select form-control" })
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">कर्मचारी र @eAttendance.Service.MenuService.EmployeeNo</label>
                                @Html.DropDownListFor(m => m.EmployeeId, Enumerable.Empty<SelectListItem>(), new { @class = "chosen-select form-control chosen-select" })
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group margin-top-25">
                                <button type="submit" class="btn-Search btn btn-primary btn-rounded btn-outline fa fa-search"> खोज्नुहोस्</button>
                            </div>
                        </div>
                    </div>
                    </fieldset>
                    }
            </div>
    </div>

    <div class="table-responsive">
        <div id="divprint" class="ibox-content p-xl no-padding no-borders">
            @{
                Html.RenderPartial("_MonthlyAttendance", Model);
            }
        </div>

    </div>
</div>



@section scripts
{
    <script>
        $(function () {
            $('body').addClass("pace-done skin-1 mini-navbar");

            $(".chosen-select").chosen({ width: '100%' });
            $.validator.setDefaults({ ignore: ":hidden:not(select)" });
            UpdateChange();
            $("#frmReport").validate({
                rules: {
                    "nYearId": { min: 1 },
                    "officeId": { min: 1 },
                    "nMonthId": { min: 1 }
                },
                messages:
                {
                    "nYearId": {
                        min: 'कृपया विकल्प चयन गर्नुहोस्'
                    },
                    "officeId": {
                        min: 'कृपया विकल्प चयन गर्नुहोस्'
                    },
                    "nMonthId": { min: 'कृपया विकल्प चयन गर्नुहोस्' }
                }
            });

            $('#YearId').on('change', function (e) {
                UpdateChange();
            });
            $('#MonthId').on('change', function (e) {
                UpdateChange();
            });
            $('#OfficeId').on('change', function (e) {
                UpdateChange();
            });
            $('#BranchId').on('change', function (e) {
                UpdateChange();
            });
            $('#ServiceId').on('change', function (e) {
                UpdateChange();
            });
            $('#LevelId').on('change', function (e) {
                UpdateChange();
            });
            $('#DesignationId').on('change', function (e) {
                UpdateChange();
            });
            function UpdateChange() {
                var nYearId = $("#YearId").val();
                var nMonthId = $("#MonthId").val();
                var officeId = $("#OfficeId").val();
                var branchId = $("#BranchId").val();
                var serviceId = $("#ServiceId").val();
                var levelId = $("#LevelId").val();
                var designationId = $("#DesignationId").val();
                if (nYearId == 0 || nYearId == null || nMonthId == 0 || nMonthId == null || officeId == 0 || officeId == null) {
                    return;
                }
                //int year, int month, int officeId, int branchId = 0, int serviceId = 0, int levelId = 0, int designationId = 0, bool withAll = false, bool withSelect = false
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetEmployeeBy_Year_Month_OfficeIdAndFilteringWithAllOrSelect", "Report")',
                 
                    data: "{'year':'" + nYearId + "','month':'" + nMonthId + "','officeId':'" + officeId + "','branchId':'" + branchId + "','serviceId':'" + serviceId + "','levelId':'" + levelId + "','designationId':'" + designationId + "','withAll':'" + true + "','withSelect':'" + false + "'}",
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    cache: false,
                    success: function (data) {
                        debugger;
                        $("#EmployeeId").empty();
                        var $prevGroup, prevGroupName;
                        $.each(data, function () {
                            if (this.Group == null) { $("<option />").val(this.Value).text(this.Text).appendTo('#EmployeeId'); }
                            else {
                                if (prevGroupName != this.Group.Name) { $prevGroup = $('<optgroup />').prop('label', this.Group.Name).appendTo('#EmployeeId'); }
                                $("<option />").val(this.Value).text(this.Text).appendTo($prevGroup);
                                prevGroupName = this.Group.Name;
                            }
                        });
                        $("#EmployeeId").trigger('chosen:updated');
                    },
                    error: function () {
                        alert("Failed to load Item");
                    }
                });

            }


            $("#levelId").chosen().change(function () {

                var levelId = $(this).val();
                $.getJSON("@Url.Action("GetDesignationByLevelId", "Utility")", { LevelId: levelId, withAll: true, withSelect: false },
                 function (data) {
                     $("#DesignationId").empty();
                     var $prevGroup, prevGroupName;
                     $.each(data, function () {
                         if (this.Group == null) { $("<option />").val(this.Value).text(this.Text).appendTo('#DesignationId'); }
                         else {
                             if (prevGroupName != this.Group.Name) { $prevGroup = $('<optgroup />').prop('label', this.Group.Name).appendTo('#DesignationId'); }
                             $("<option />").val(this.Value).text(this.Text).appendTo($prevGroup);
                             prevGroupName = this.Group.Name;
                         }
                     });
                     $("#DesignationId").trigger('chosen:updated');
                 });
            });



            $('#btnPrint').on('click', function () {

                printReport('MonthlyAttendanceReport');
                

            });
        });

    </script>
}
